<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="checkin.pro.docvita.in.chat_app_musicmuni_sample">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
